*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#111;
}

#calculator{
    width:310px;
    border:1px solid #ddd;
    margin:120px auto;
    text-align:center;
    height:500px;
    box-shadow: 2px 5px 21px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 5px 21px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 21px -4px rgba(0,0,0,0.75);
padding:5px;
background-color:#ddd;
border-radius:3px;
    
}
#calc-screen{
    margin-top:15px;
    margin-bottom:15px;
    width:95%;
    height:60px;
    font-size:40px;
    color:#333;
    border:none;
    outline:none;
    text-align:right;
    padding-right:10px;
    padding-left:10px;
    background-color:rgb(173, 181, 182);
}
hr{
    outline:none;
    width:98%;
    margin:auto;
    height:1px;
    background-color: #ddd;
    color:#ddd;
    margin-bottom:30px;
    
}
.calc-btn{
    width:60px;
    height: 60px;
    outline:none;
    border:none;
    font-size:25px;
    text-align:center;
    border-radius:20px;
    color:rgb(69, 80, 83);
    background-color:rgb(173, 181, 182);
    margin:5px;
}
.calc-btn:active{
    background-color:rgb(159, 172, 184);
    font-weight: bold;
}